.args-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    margin-left: 15px;
    column-gap: 10px;
    row-gap: 0;
}

.command {
    grid-column: 1;
}

.description {
    grid-column: 2;
    word-break: break-word;
}

.header {
    margin-left: 20px;
    word-break: break-word;
}

.path {
    grid-column: 1 / -1;
    margin-left: 30px;
}


.container {

    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 220px;
    background-color: black;
}

.input {
    outline: none;
    border: none;
}

.interface {
    margin-top: 50px;
    outline: none;
    overflow-y: scroll;
    word-break: break-all;
    -ms-overflow-style: none;  /* IE and Edge */ 
    scrollbar-width: none;  
}

.interface::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.terminal-properties {
    white-space: pre-line;
    background-color: black;
    color: rgb(186, 186, 186);
    font-size: medium;
    width: clamp(200px, 95%, 900px);
    font-family: "Andale Mono", monospace;
    max-height: 80%;
}

















/* ~~~~~~~~ TEXT COLORS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.green-text {
    color: rgb(50, 196, 50);
}

.purple-text {
    color: rgb(187, 72, 248)
}

.gold-text {
    color: rgb(194, 171, 42);
}